.mainpage-top{
    background-image: url("../images/bg1.png");
    height: 69vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.mainpage-bottom{
    /* border: 2px solid green; */
    background-color: #F2F2F2;
    /* margin-top: 20px; */
}