.mainpage-top{
    background-image: linear-gradient(#051225,#0a4281);
    height: 69vh;
    display: flex;
    justify-content: center;
}
.mainpage-bottom{
    /* border: 2px solid green; */
    background-color: #F2F2F2;
    /* margin-top: 20px; */
}