.profiledetailspage{
    /* border: 2px solid red; */
    background-color:  #f2f2f2;
}
 .myprofileheader{
    border: 1px solid blue;
 }         
.profilemaincontainer .myaccmyprolist{
    /* border: 2px solid blue; */
    display: flex;
    list-style: none;
    gap: 5px;
    height: 38px;
    margin: 20px 0 20px 0 ;
    padding: 0;
}
.profilemaincontainer .myaccmyprolist li{
    /* border: 2px solid green; */
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    color: #4A4A4A;
    font-size: 16px;
    font-weight: 900;
}
.profilemaincontainer .myaccmyprolist li:nth-child(1){
    padding: 10px 10px 10px 15px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;

}
.profiledetailsmaindiv{
    /* border: 2px solid orange; */
    display: flex;
    gap: 40px;
}

.profileandpagenav{
    /* border: 2px solid red; */
    height: 403px;
    width: 283px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 95px;
    border-radius: 10px;
    box-shadow: 0 3px 30px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 32px 0;
}
.profilepic{
    /* border: 2px solid green; */
    height: 160px;
    width: 160px;
    margin: none;
    padding: none;
    background-image: linear-gradient(45deg, #ace143, #219393);
    border-radius: 8px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.propicavtar{
    background-image: url(../images/myProfileSprite.png);
    width: 32px;
    height: 32px;
    background-position: -154px -5px;
    background-size: 200px 200px;
}
.editoption{
    background-image: url("../images/myProfileSprite.png");
    width: 37px;
    height: 37px;
    background-position: -4px -31px;
    background-size: 200px 200px;
    position: absolute;
    bottom: 17px;
    right: -20px;
    z-index: 1;
    overflow: hidden;
}
.profileandpagenav p{
    color: #4a4a4a;
    font-size: 12px;
    margin-top: 20px;
}
.listofpages{
    /* border: 2px solid red; */
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 25px 20px 0;
}
.listofpages li{
    height: 24px;
    width: 216px;
    display: flex;
    align-items: center;
    padding: 10px 0 10px 27px;
    cursor: pointer;
    border-radius: 4px;
    /* color: #008cff; */
    
}
.listofpages li:hover{
    border-radius: 4px;
    background: rgba(0, 140, 255, 0.1);
    color: #008cff;
    padding: 10px 0 10px 27px;
    width: 216px;
}
.listofpages li p{
    color: #4A4A4A;
    font-size: 14px;
    font-weight: 700;
    display: flex;
    align-items: center;
    padding: 10px 0 10px 27px;
    cursor: pointer;
}
.profileicon{
    background-image: url("../images/myProfileSprite.png");
    width: 20px;
    height: 20px;
    background-position: -127px -5px;
    background-size: 200px 200px;
}
.logindetailsicon{
    background-image: url("../images/myProfileSprite.png");
    background-position: -76px -7px;
    width: 20px;
    height: 20px;
    background-size: 200px 200px;
}
.savetravellersicon{
    background-image: url("../images/myProfileSprite.png");
    width: 24px;
    height: 20px;
    background-position: -51px -56px;
    background-size: 200px 200px;
}
.logouticon{
    background-image: url("../images/myProfileSprite.png");
    width: 20px;
    height: 20px;
    background-position: -6px -164px;
    background-size: 200px 200px;
}


.infomaindiv{
    /* border: 2px solid blue; */
    height: 1188px;
    width: 877px;
}
.profilecompletionstatusdiv{
    margin-bottom: 12px;
    border-radius: 10px;
    box-shadow: 0 3px 30px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 20px 30px;
    position: relative;
    height: 144px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.profilecompletionstatusdiv p:nth-child(1){
    width: 280px;
    margin: 0;
    padding: 0;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    
}
.profilecompletionstatusdiv p:nth-child(1) span:nth-child(1){
    color: #4A4A4A;
    font-weight: 700;
    margin-bottom: 7px;
}
.profilecompletionstatusdiv p:nth-child(1) span:nth-child(2){
    font-weight: 900;
}
.progressbardiv{
    width: 280px;
    height: 6px;
    border-radius: 20px;
    background-color: #E2E2E2;
}
.progressbarfill{
    width: 60%;
    height: 100%;
    border-radius: inherit;
    background-color: #31b79c;
}

.profilecompletionmsg{
    /* border: 2px solid red; */
    margin: 0;
    padding: 0;
    color: #4a4a4a;
    margin-top: 10px;
    font-size: 14px;
}
.profilecompletionstatusdiv ul{
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    list-style: none;
    border-radius: 10px;
    background-color: #eff3f7;
    padding: 18px 10px;
    display: flex;
    margin: 27px 0px 0px 0px;
    width: 797px;
    height: 24px;
}
.profilecompletionstatusdiv ul li{
    /* border: 2px solid blue; */
    width: 256px;
    height: 24px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.emailverification, .mobilenoverification{
    /* border: 1px solid red; */
    width: 24px;
    height: 24px;
    background-image: url("../images/myProfileSprite.png");
    background-position: -87px -80px;
    background-size: 200px 200px;
    margin: 0 10px 0 5px;
}
.basicinfocompleteness{
    background-image: url("../images/myProfileSprite.png");
    width: 24px;
    height: 24px;
    background-position: -55px -80px;
    background-size: 200px 200px;
    margin: 0 10px 0 5px;
}
.profilecompletionstatusdiv ul li p{
    /* border: 1px solid red; */
    cursor: pointer;
    font-weight: 700;
    color:#008cff;
}

.basicprofileinfodiv{
    margin-bottom: 12px;
    position: relative;
    border-radius: 10px;
    border: solid 1px #cacaca;
    background-color: #fff;
    padding: 20px 30px 2px;
    height: 478px;
}
.basicprofileinfohead{
    display: flex;
    justify-content: space-between;
}
.basicinfoheadleft{
    /* border: 1px solid orange; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.basicinfoheadleft h3{
    font-size: 30px;
    margin: 0;
    padding: 0;
}
.basicinfoheadleft p{
    font-size: 18px;
    margin: 10px 0px 0px 0px;
}
.basicinfoeditbtn{
    display: inline-flex;
    align-items: center;
    padding: 10px 18px;
    background: #fff;
    border-radius: 20px;
    border: 1px solid #cacaca;
    min-width: 90px;
    outline: 0;
    cursor: pointer;
    color: #008cff;
    font-weight: 700;
    font-size: 16px;
    width: 52px;
}
.basicinfoeditbtn span{
    background-image: url("../images/myProfileSprite.png");
    margin-right: 5px;
    width: 15px;
    height: 15px;
    background-position: -8px -5px;
    background-size: 200px 200px;
}
.addpersonaldetails{
    /* border: 1px solid green; */
    margin: 35px -30px 0;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
    list-style: none;
    padding: 0;
    /* height: 385px; */
}
.addpersonaldetails li{
    display: flex;
    align-items: center;
    padding: 18px 0;
    margin-left: 30px;
    /* height: 55px; */
    border-top: 1px solid #e3e3e3;
}
.addpersonaldetails li:hover{
    background-image: linear-gradient(to left, #f7f7f7, #fff);
}
.addpersonaldetails li:first-child{
    border-top: 0;
}
.addpersonaldetails li p{
    font-size: 11px;
    margin: 0 20px 0 0;
    width: 160px;
    text-align: left;
}
.addpersonaldetails li span{
    font-size: 14px;
    color:#008cff;
    font-weight: 700;
    cursor: pointer;
}

.logindetailsdiv{
    margin-bottom: 12px;
    position: relative;
    border-radius: 10px;
    border: solid 1px #cacaca;
    background-color: #fff;
    padding: 20px 30px 2px;
    height: 258px;
}
.logindetailsheaddiv h3{
    font-size: 30px;
    margin: 0;
    padding: 0;
    text-align: left;
}
.logindetailsheaddiv p{
    font-size: 18px;
    margin: 10px 0px 0px 0px;
    text-align: left;
}
.logindetailsbottomlists{
    margin: 26px -30px 0;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
    list-style: none;
    height: 165px;
}
.logindetailsbottomlists li{
    display: flex;
    align-items: center;
    padding: 18px 0;
    margin-left: 30px;
    /* height: 55px; */
    border-top: 1px solid #e3e3e3;
}
.logindetailsbottomlists li:hover{
    background-image: linear-gradient(to left, #f7f7f7, #fff);
}
.logindetailsbottomlists li p{
    font-size: 11px;
    margin: 0 20px 0 0;
    width: 160px;
    text-align: left;
}
.logindetailsbottomlists li span{
    font-size: 16px;
    font-weight: 700;
}
.passworddetaildiv{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.passworddetaildiv div{
    display: flex;
}
.passworddetaildiv .linktochangepwd{
    /* margin: 0 30px 0 484px; */
    color: #008cff;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}


.savetravellerdiv{
    margin-bottom: 12px;
    position: relative;
    border-radius: 10px;
    border: solid 1px #cacaca;
    background-color: #fff;
    padding: 20px 30px 2px;
    height: 148px;
}
.savetravellertopdiv{
    display: flex;
    justify-content: space-between;
}
.savetravellertopdiv div h3{
    font-size: 30px;
    margin: 0;
    padding: 0;
    text-align: left;
}
.savetravellertopdiv div p{
    font-size: 18px;
    margin: 10px 0px 0px 0px;
    text-align: left;
}
.addtravellerbtn{
    display: inline-flex;
    align-items: center;
    padding: 10px 18px;
    background: #fff;
    flex-shrink: 0;
    border-radius: 20px;
    border: 1px solid #cacaca;
    min-width: 90px;
    outline: 0;
    cursor: pointer;
    color: #008cff;
    font-weight: 700;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.addtravellericon{
    background-image: url("../images/myProfileSprite.png");
    width: 15px;
    height: 15px;
    background-position: -8px -5px;
    background-size: 200px 200px;
    margin-right: 5px;
    
}
.savetravellerbottomdiv{
    display: flex;
    align-items: center;
    padding: 8px 0;
    font-size: 14px;
}
.savetravellerbottomdiv p span{
    font-size: 16px;
    font-weight: 700;
}
.travelleravtardiv{
    width: 44px;
    height: 44px;
    border: 1px solid #dfdfdf;
    border-radius: 50%;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    align-self: flex-start;
}
.travelleravtar{
    background-image: url("../images/myProfileSprite.png");
    width: 20px;
    height: 20px;
    background-position: -7px -114px;
    background-size: 200px 200px;
}