.trainswidgetmaindiv{
    height: 263px;
    width: 97%;
    padding: 50px 20px 0px 20px;
    margin-bottom: 40px;
    background-color: white;
    position: relative;
    z-index: 1;
    border-radius: 8px;
    top: -50px;
    font-size: 14px;
}
.tw-upperdiv{
    display: flex;
    justify-content: flex-start;
    gap: 40px;
    align-items: center;
    text-decoration: none;
    list-style: none;
}
.tw-upperdiv div ul{
    list-style: none;
    display: flex;
    padding: 0;
    gap: 20px;
}
.tw-bottomdiv{
    border: solid 1px #e7e7e7;
    width: 100%;
    height: 108px;
    margin: 0 auto 20px;
    border-radius: 10px;
    display: flex;
    margin-right: 0;
}
.tw-from{
    width: 350px;
    padding: 10px 19px;
    border-right: solid 1px #e7e7e7;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.tw-from p:nth-child(1){
    margin-bottom: 10px;
    margin-top: 0;
}
.tw-from p:nth-child(2){
    margin: 0;
    padding: 0px;
    margin: 0px;
    font-size: 30px;
    font-weight: 900;
}
.tw-from p:nth-child(2){
    margin: 0;
    padding: 0;
}

.tw-to{
    width: 350px;
    padding: 10px 19px;
    border-right: solid 1px #e7e7e7;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.tw-to p:nth-child(1){
    margin-bottom: 10px;
    margin-top: 0;
}
.tw-to p:nth-child(2){
    margin: 0;
    padding: 0px;
    margin: 0px;
    font-size: 30px;
    font-weight: 900;
}
.tw-to p:nth-child(2){
    margin: 0;
    padding: 0;
}

.tw-traveldate{
    width: 140px;
    padding: 10px 19px;
    border-right: solid 1px #e7e7e7;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.tw-traveldate p:nth-child(1){
    margin-bottom: 10px;
    margin-top: 0;
}
.tw-traveldate p:nth-child(2){
    margin: 0;
    padding: 0;
}
.tw-traveldate p:nth-child(2) span{
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-weight: 900;
}
.tw-traveldate p:nth-child(3){
    margin: 0;
    padding: 0;
}

.tw-class{
    width: 140px;
    padding: 10px 19px;
    border-right: solid 1px #e7e7e7;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.tw-class p:nth-child(1){
    margin-bottom: 10px;
    margin-top: 0;
}
.tw-class p:nth-child(2){
    margin: 0;
    padding: 0px;
    margin: 0px;
    font-size: 30px;
    font-weight: 900;
}
.tw-class p:nth-child(2){
    margin: 0;
    padding: 0;
}
.tw-searchbtndiv{
    /* border: 2px solid red; */
    position: absolute;
    top: 35.5vh;
    left: 33.5vw;
}