.travelForPopup {
  width: 155px;
  background: #fff;
  border-radius: 8px;
  position: absolute;
  top: 15vh;
  right: 3rem;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  max-height: 300px;
  overflow-y: scroll;
  list-style: none;
  padding: 0;
}
.travelForPopup li {
  padding: 10px 20px;
  cursor: pointer;
  text-align: left;
}

.travelForPopup li:hover {
  background-color: rgb(232, 232, 232);
}
.fltTravellers {
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 17vh;
  right: 2.5rem;
  width: 480px;
  height: 30vh;
  padding: 20px 40px;
  z-index: 1;
}
.rmsGst {
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  right: 2.5rem;
  top: 17vh;
  width: 480px;
  height: 33vh;
  padding: 20px 40px;
  z-index: 1;
}
.gbTravellers {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.gbTravellers p:nth-child(1) {
  /* border: 1px solid red; */
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
}
.rmsGst-hw {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.rmsGst-hw :nth-child(1) {
  /* font-size: 20px; */
  /* font-weight: 600; */
  letter-spacing: 1px;
}
.guestnumber-text{
  /* margin: 0; */
  text-align: left;
}

.guestCounter {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* width: 116px; */
  height: 36px;
  background: rgb(255, 255, 255);
  border: 2px solid rgb(225, 231, 238);
  border-radius: 8px;
}
.plus-minus{
  /* font-size: 30px; */
  cursor: pointer;
}
.travelClassList{
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin:10px 0 0 0;
  gap: 10px;
}
.travelClassList li {
  display: inline-flex;
  border-radius: 4px;
  /* background-color: #ffffff; */
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 24px;
  align-items: center;
  font-size: 12px;
  width: auto;
  height: 32px;
  padding: 0 10px;
  font-weight: 600;
  cursor: pointer;
}
.travelClassList li:hover{
  background-color: #008CFF;
  color: white;
}
.activeclass{
  background-color: #008CFF;
  color: white;
}
.travelClass p {
  font-size: large;
  font-weight: 600;
  margin: 25px 0 13px;
  text-align: left;
}
.travellerApplyBtn {
  /* border: 1px solid red; */
  width: 130px;
  height: 39px;
  border-radius: 34px;
  background-image: linear-gradient(93deg, #53b2fe, #065af3);
  box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.2);
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  margin-left: 22rem;
  border: none;
  font-size: 18px;
  font-weight: 900;
  outline: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

