
.flightwidgetmaindiv{
    /* border:2px solid yellow; */
    height: 263px;
    width: 97%;
    padding: 50px 20px 0px 20px;
    margin-bottom: 40px;
    background-color: white;
    position: relative;
    z-index: 1;
    border-radius: 8px;
    top: -50px;
    font-size: 14px;
}
.fw-upperdiv{
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    list-style: none;
}
.fw-upperdiv div ul{
    /* border: 2px solid black; */
    list-style: none;
    display: flex;
    padding: 0;
    gap: 20px;
}

.fw-middlediv{
    border: solid 1px #e7e7e7;
    width: 100%;
    height: 108px;
    margin: 0 auto 20px;
    border-radius: 10px;
    display: flex;
    margin-right: 0;
}
.fw-fromdiv{
    /* border: 2px solid green; */
    width: 225px;
    padding: 10px 19px;
    border-right: solid 1px #e7e7e7;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.fw-fromdiv p:nth-child(1){
    /* border: 2px solid red; */
    margin-bottom: 10px;
    margin-top: 0;
}
.fw-fromdiv p:nth-child(2){
    /* border: 2px solid red; */
    margin: 0;
    padding: 0px;
    margin: 0px;
    font-size: 30px;
    font-weight: 900;
}
.fw-fromdiv p:nth-child(3){
    margin: 0;
    padding: 0;
}

.fw-todiv{
    /* border: 2px solid green; */
    width: 225px;
    padding: 10px 19px;
    border-right: solid 1px #e7e7e7;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.fw-todiv p:nth-child(1){
    /* border: 2px solid red; */
    margin-bottom: 10px;
    margin-top: 0;
}
.fw-todiv p:nth-child(2){
    /* border: 2px solid red; */
    margin: 0;
    padding: 0px;
    margin: 0px;
    font-size: 30px;
    font-weight: 900;
}
.fw-todiv p:nth-child(3){
    margin: 0;
    padding: 0;
}


.fw-departurediv{
    width: 110px;
    padding: 10px 19px;
    border-right: solid 1px #e7e7e7;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.fw-departurediv p:nth-child(1){
    margin-bottom: 10px;
    margin-top: 0;
}
.fw-departurediv p:nth-child(2){
    margin: 0;
    padding: 0;
}
.fw-departurediv p:nth-child(2) span{
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-weight: 900;
}
.fw-departurediv p:nth-child(3){
    margin: 0;
    padding: 0;
}


.fw-returndiv{
    width: 110px;
    padding: 10px 19px;
    border-right: solid 1px #e7e7e7;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.fw-returndiv p:nth-child(1){
    margin-bottom: 10px;
    margin-top: 0;
}
.fw-returndiv p:nth-child(2){
    margin: 0;
    padding: 0;
}
.fw-returndiv p:nth-child(2) span{
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-weight: 900;
}
.fw-returndiv p:nth-child(3){
    margin: 0;
    padding: 0;
}

.fw-travellersclassdiv{
    padding: 10px 19px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.fw-travellersclassdiv p:nth-child(1){
    margin-bottom: 10px;
    margin-top: 0;
}
.fw-travellersclassdiv p:nth-child(2){
    margin: 0;
    padding: 0;
}
.fw-travellersclassdiv p:nth-child(2) span{
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-weight: 900;
}
.fw-travellersclassdiv p:nth-child(3){
    margin: 0;
    padding: 0;
}


.fw-bottomdiv{
    /* border: 2px solid red; */
    margin-bottom: 20px;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fw-faretypes{
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 664px;
    gap: 3px;
}
.fw-faretypes p{
    height: 45px;
    width: 67px;
    margin: 0;
    margin-right: 5px;
    text-align: left;
    display: flex;
    align-items: center;
    font-weight: 700;
}
.fw-faretypes div{
    display: flex;
    align-items: center;
    /* border: 2px solid red; */
    height: 45px;
    gap: 5px;
    background-color: rgb(242,242,242);
    border-radius: 3px;
}
.fw-faretypes div input{
    margin: 0;
    margin-left: 5px;
    padding: 0;
}
.fw-faretypes div label{
    margin: 0;
    padding: 0;
    text-align: left;
}
.fw-trendingsearches{
    display: flex;
    font-size: 12px;
}
.fw-trendingsearches{
    /* border: 2px solid red; */
    margin-left: 10px;
    width: 370px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    height: 31px;
}
.fw-trendingsearches p{
    display: flex;
    align-items: center;
}
.fw-trendingsearches p:nth-child(1){
    font-weight: 700;
}
.fw-trendingsearches p:nth-child(2){
    background-color: rgb(242,242,242);
    border-radius: 5px;
}
.fw-trendingsearches p:nth-child(2) span{
    /* border: 2px solid green; */
    margin: 10px;
}
.fw-trendingsearches p:nth-child(3){
    background-color: rgb(242,242,242);
    border-radius: 5px;
}
.fw-trendingsearches p:nth-child(3) span{
    /* border: 2px solid green; */
    margin: 10px;
}
.fw-exploremore{
    /* border: 2px solid red; */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: 700;
    margin-top: 10px;
    font-size: 13px;
}


