.hotelwidgetmaindiv{
    height: 263px;
    width: 97%;
    padding: 50px 20px 0px 20px;
    margin-bottom: 40px;
    background-color: white;
    position: relative;
    z-index: 1;
    border-radius: 8px;
    top: -50px;
    font-size: 14px;
}
.hw-upperdiv{
    /* border: 2px solid red; */
    display: flex;
    justify-content: flex-start;
    gap: 40px;
    align-items: center;
    text-decoration: none;
    list-style: none;
}
.hw-upperdiv div ul{
    /* border: 2px solid black; */
    list-style: none;
    display: flex;
    padding: 0;
    gap: 20px;
}

.hw-middlediv{
    border: solid 1px #e7e7e7;
    width: 100%;
    height: 108px;
    margin: 0 auto 20px;
    border-radius: 10px;
    display: flex;
    margin-right: 0;
}
.hw-cityname{
    /* border: 2px solid green; */
    width: 270px;
    padding: 10px 19px;
    border-right: solid 1px #e7e7e7;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.hw-cityname p:nth-child(1){
    /* border: 2px solid red; */
    margin-bottom: 10px;
    margin-top: 0;
}
.hw-cityname p:nth-child(2){
    /* border: 2px solid red; */
    margin: 0;
    padding: 0px;
    margin: 0px;
    font-size: 30px;
    font-weight: 900;
}
.hw-cityname p:nth-child(3){
    margin: 0;
    padding: 0;
}

.hw-addcheckin{
    width: 110px;
    padding: 10px 19px;
    border-right: solid 1px #e7e7e7;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.hw-addcheckin p:nth-child(1){
    margin-bottom: 10px;
    margin-top: 0;
}
.hw-addcheckin p:nth-child(2){
    margin: 0;
    padding: 0;
}
.hw-addcheckin p:nth-child(2) span{
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-weight: 900;
}
.hw-addcheckin p:nth-child(3){
    margin: 0;
    padding: 0;
}

.hw-addcheckout{
    width: 110px;
    padding: 10px 19px;
    border-right: solid 1px #e7e7e7;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.hw-addcheckout p:nth-child(1){
    margin-bottom: 10px;
    margin-top: 0;
}
.hw-addcheckout p:nth-child(2){
    margin: 0;
    padding: 0;
}
.hw-addcheckout p:nth-child(2) span{
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-weight: 900;
}
.hw-addcheckout p:nth-child(3){
    margin: 0;
    padding: 0;
}

.hw-roomsandguest{
    width: 270px;
    padding: 10px 19px;
    border-right: solid 1px #e7e7e7;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.hw-roomsandguest p:nth-child(1){
    margin-bottom: 10px;
    margin-top: 0;
}
.hw-roomsandguest p:nth-child(2){
    margin: 0;
    padding: 0;
}
.hw-roomsandguest p:nth-child(2) span{
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-weight: 900;
}

.hw-priceperight{
    /* border: 1px solid red; */
    padding: 10px 19px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.hw-priceperight p:nth-child(1){
    margin-bottom: 10px;
    margin-top: 0;
}
.hw-priceperight p:nth-child(2){
    padding: 0;
    margin: 0;
    text-align: left;
}

.hw-bottomdiv{
    /* border: 1px solid red; */
    margin-bottom: 30px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 31px;
    font-size: 12px;
}
.hw-bottomdiv p{
    font-weight: 700;
}
.hw-bottomdiv span{
    background-color: rgb(242,242,242);
    border-radius: 5px;
    /* height: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
