.booking-heading {
  /* border: 1px solid red; */
  background: #10223b;
  padding-top: 16px;
  padding-bottom: 16px;
  /* width: 100%; */
  padding-left: 112px;
  z-index: 10;
  color: #fff;
  text-align: left;
}
.booking-heading h1{
  color: white;
  font-size: 24px;
  margin: 0;
  padding: 0;
}
.makeFlex.spaceBetween {
  justify-content: space-between;
  align-items: center;
}
.reviewHeaderContainer {
  width: 1234px;
}
.busTravellersWrapper {
  /* border: 1px solid red; */
  background: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 112px;
  margin: 40px 0;
}
.bus-leftSection{
  /* border: 1px solid red; */
  width: 100%;
  padding: 20px;
  margin-right: 20px;
  box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.3);
  border-radius: 15px;
}
.busdetails-topdiv{
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px;
}
.busdetails-seaterdiv{
  /* border: 1px solid red; */
  text-align: left;
  font-size: 14px;
  margin-bottom: 10px;
  color: #4A4A4A;
}
.busdetails-ratingdiv{
  /* border: 1px solid red; */
  margin-bottom: 10px;
}
.bus-rating-div {
  background-color: rgb(26, 121, 113);
  width: 40px;
  height: 22px;
  border-radius: 4px;
  color: rgb(255, 255, 255);
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.ratingstar-img {
  background: url("../images/busListingSprite.png");
  background-size: 350px 500px;
  background-position: -132px -56px;
  width: 9px;
  height: 9px;
  margin-right: 4px;
}
.busdetails-btmdiv{
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.bus-departure-div{
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.depart-time-date-div{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.departure-time{
  /* border: 1px solid blue; */
  font-size: 18px;
  font-weight: 700;
}
.depart-place{
  text-align: left;
}
.duration-div{
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  align-items: center;
}
.dottedLine{
  width: 108px;
  border-bottom: 1px solid #e7e7e7;
  margin: 0 40px 5px;
  padding-top: 8px;
  line-height: 0.1em;
}
.duration-div span{
  font-size: 14px;
  color: #4A4A4A;
}
.bus-arrival-div{
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.arrival-time-date-div{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.arrival-time{
  /* border: 1px solid blue; */
  font-size: 18px;
  font-weight: 700;
}
.arrive-place{
  text-align: left;
}
.bus-rightSection {
  /* border: 1px solid red; */
  width: 360px;
  /* padding-right: 8px; */
  box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  padding: 20px;
}
.bgProperties {
  background-image: url("../images/plusicon.png");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  background-size: contain;
}
.fareHeader {
  font-size: calc(var(--font-scale, 1) * 14px);
  font-weight: 700;
}
.hotelfareFooter {
  background-color: #f2f2f2;
  padding: 15px 8px 15px;
  font-weight: 500;
}
.busrightcontainer {
  border: 1px solid #e7e7e7;
  border-radius: 16px;
  margin-top: 30px;
}
.totalprice {
  display: flex;
  justify-content: space-between;
  padding: 7px;
  background-color: rgb(137, 231, 198);
  font-weight: 600;
  border-radius: 4px;
}
