.travellerInfo .travellerHead {
  background-color: #0a223d;
  text-align: left;
}
.travellerInfo h2 {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
  padding: 21px 0;
  width: 1200px;
  margin: 0 auto;
}
.railTravellersWrapper {
  background: #fff;
}
.railTravellersContainer {
  margin: 0 auto;
  width: 1200px;
  display: flex;
}

.bdrTop-left {
  width: 40px;
  height: 1px;
  background-color: black;
  margin-right: 20px;
  margin-top: 25px;
  margin-left: 20px;
}
.bdrTop-right{
  width: 40px;
  height: 1px;
  background-color: black;
  margin-left: 5px;
  margin-top: 25px;
  margin-right: 25px;
}


.trStatusBlock {
  border-radius: 4px;
  border: 1px solid #9b9b9b;
  background-color: #fff;
  padding: 10px 20px;
  width: 219px;
  margin-top: 18px;
  text-align: left;
}
.orangeText {
  color: #ff664b;
  font-size: 16px;
  font-weight: 700;
}
.update-time{
  font-size: 16px;
  color: #9B9B9B;
  margin: 10px 0;
}
.coach-type{
  font-size: 16px;
  font-weight: 700;
  margin-right: 20px;
}
.trdInfo .selectedQuotaContainer {
  width: 520px;
  margin-left: 0;
}
.cursorPointer {
  cursor: pointer;
}
.selectedQuotaContainer .selectedQuota {
  width: 160px;
  padding: 6px 0;
  background: #fff;
  border-radius: 4px;
  align-items: center;
  border: 1px solid #9b9b9b;
}

.trdInfo .selectedQuotaContainer .selectedQuota {
  width: 520px;
}

.trdInfo .selectedQuotaContainer .selectedQuota span:nth-child(2) {
  padding-right: 25px;
}
.selectedQuotaContainer .selectedQuota span:nth-child(2) {
  padding-left: 0;
  min-height: 24px;
  white-space: nowrap;
}
.latoRegular {
  font-weight: 400;
}
.selectedQuotaContainer .selectedQuota span {
  padding: 5px;
}
.appendBottom20 {
  margin-bottom: 20px;
}
.train-fareSummary {
  background-color: #fff;
  border-radius: 2px;
  padding: 15px;
  border: none;
  box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.3);
}



.appendRight10 {
  margin-right: 10px;
}

.iconPlusImg {
  width: 16px;
  height: 16px;
}
.bgProperties {
  background-image: url("../images/plusicon.png");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  background-size: contain;
}
.fareHeader {
  font-size: calc(var(--font-scale, 1) * 14px);
  font-weight: 700;
}
.fareFooter {
  padding: 15px 0;
}
.payNowWrapper {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  background-color: #bbfdfc;
  border-radius: 2px;
}
.train-details{
  box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.3);
  width: 700px;
  width: 100%;
  margin-top: 30px;
  padding: 30px;
  /* border: 1px solid red; */
}
.train-name-time{
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: row;
  margin: 0;
  align-items: flex-start;
  padding: 0;
  margin-bottom: 55px;
}
.train-name-head{
  font-size: 22px;
  margin: 0;
}
.train-number{
  font-size: 12px;
  color: lightgrey;
  padding: 0;
  padding-left: 5px;
  margin-top: 9px;
  margin-left: 10px;
  border: 0;
  border-left: 1px solid grey;
  margin-right: 60px;
}
.train-time-duration-div{
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
}
.train-depart-time,.train-arrive-time{
  font-size: 16px;
  color: black;
  font-weight: 700;
}
.train-source,.train-destination{
  font-size: 16px;
}
.source-time-place,.destination-time-place{
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.train-duration{
  font-size: 16px;
  font-weight: 700;
  margin-top: 13px;
}
.availability-and-boardsttn{
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.availability-status-main-div{
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.avail-head,.boardsttn-head{
  font-size: 14px;
  color: #4A4A4A;
  font-weight: 700;
  margin: 0;
  text-align: left;
}
.boardingstation-maindiv{
  /* border: 1px solid blue; */
  margin-left: 40px;
}
.boardsttn-ptag{
  border-radius: 4px;
  border: 1px solid #9b9b9b;
  background-color: #fff;
  padding: 10px 20px;
  width: auto;
  font-size: 14px;
}
.fare-summary-section{
  /* border: 1px solid red; */
  margin-top: 30px;
  width: 310px;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(138, 107, 118, 0.08);
  border-radius: 4px;
  margin-bottom: 50px;
  margin-left: 30px;
}
.fare-summary-head-div{
  /* border: 1px solid red; */
  font-size: 20px;
  font-weight: 700;
  background-color: #EDF2F2;
  padding: 5px;
  border-radius: 4px;
  text-align: center;
}
.fare-main-div{
  border-bottom: 1px solid #000;
  
}
.fareTypeWrap{
  border-bottom: 1px solid #dfdfdf;
  padding: 12px 0;
}
.fareRow {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}